venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

node_modules/
npm-debug.log*


.env

.claude 
*.claude

backend/db.json
celerybeat-schedule

*.log
.docker/

CLAUDE.md
*CLAUDE.md

multi-template-types-integracion.md
*multi-template-types-integracion.md

confirmation_agent_fe/

AMI/pjsip.extensions_custom.conf

AMI/pjsip.extensions_custom_simplified.conf