services:
  redis:
    image: redis:7-alpine
    container_name: SarahAI-redis
    restart: always
    network_mode: "host"

  ami:
      build: ./AMI  
      container_name: sarah-ami
      restart: always
      network_mode: "host"
      env_file: .env

  backend-api:
    build: ./backend
    container_name: SarahAI-api
    restart: always
    network_mode: "host"
    command: uvicorn main:app --host 0.0.0.0 --port 7676
    env_file: .env
    volumes:
      - ./backend/db.json:/app/db.json 
    depends_on:
      - redis

  celery-worker:
    build: ./backend
    container_name: SarahAI-worker
    restart: always
    network_mode: "host"
    command: celery -A tasks worker --loglevel=info
    env_file: .env
    volumes:
      - ./backend/db.json:/app/db.json
    depends_on:
      - redis

  celery-beat:
    build: ./backend
    container_name: SarahAI-beat
    restart: always
    network_mode: "host"
    command: celery -A tasks beat --loglevel=info
    env_file: .env
    volumes:
      - ./backend/db.json:/app/db.json
    depends_on:
      - redis

  nginx:
    image: nginx:alpine
    container_name: SarahAI-nginx
    restart: always
    network_mode: "host"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend-api
      - ami