venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

node_modules/
npm-debug.log*

pjsip.extensions_custom
*pjsip.extensions_custom

.env

backend/db.json
celerybeat-schedule

*.log
.docker/